{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="form-group-lg">
    {% if form %}
    <div class="row">
        <h2>PNEUMONIA Image Classifier using CNN</h2>
        <p>
            This is a demo for PNEUMONIA image classification using CNN by Tensorflow Keras.
            I used a Custom VGG16 pretrained model available on my <span>
                <a href="https://github.com/Gujar-Shubham/pneumonia_classifier/" _blank">GITHUB</a>
            </span> This model is trained on a small dataset available on <span>
                <a href="https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia/" _blank">Kaggle</a>
                Given an input image it classifier it into either Normal or Pneumonia class
            </span>

            The code is available in <span><a href="https://github.com/Gujar-Shubham/pneumonia_classifier/">this</a>
            </span> Github repo.
        </p>
    </div>
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>

{% if file_url %}
<div class="row">
    <h2>Classification Result</h2>
    <p>
        The uploaded image and the classification results are shown below.
    </p>

    <div class="col-md-4">
        <img src="{{file_url}}" class="img-fluid img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Predictions </h2>
        <ul>
            <li>{{prediction}} was Predicted</li>
        </ul>
    </div>
</div>
<a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Go Back</a>
{% endif %}
{% endblock %}
